<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="xin.xuxiujun.dao.UserRegisterDao">
<insert id="saveUserInformation" parameterType="xin.xuxiujun.domain.User">
  insert into userinfo(usernetworkname,userpassword,useremail,usermobilenumber) 
  values(#{userNetworkName},#{userPassword},#{userEmail},#{userMobileNumber})
</insert>
</mapper>